<template>
  <div class="row header-wrapper">
    <div class="col-md-3 col-sm-3 col-lg-3"></div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <span class="header-brand">
      </span>
      <span class="blue-light-divider"></span>
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div> 
    <div class="col-md-2 col-sm-2 col-lg-2">
      <span class="header-datetime_label">
         Sunday, May 13 <span class="bold_label">13:32</span>
      </span>
    </div>
  </div>
</template>
<script>
  export default {
    mounted() {
      //console.log('Component mounted.')
    }
  }
</script> 
<style lang="scss" scoped>
  .header-wrapper::before {
    content: '';
    height: 46px;
  }
  .blue-light-divider {
    display: block;
    margin-top: 64px;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    background-image: linear-gradient(to right, rgba(78, 189, 190, 0.0), #4ebdbe 49%, rgba(78, 189, 190, 0.0));
  }
  .header-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 146px;
    height: 32px;
    background-image: image-set(url("/images/brainq-blue-logo-32.png") 1x,
               url("/images/brainq-blue-logo-32@2x.png") 2x,
               url("/images/brainq-blue-logo-32@3x.png") 3x); 

  }
  .header-datetime_label {
    width: 169px;
    height: 23px;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    padding-right: 66px;
    padding-left: auto;
    font-weight: 200;
    .bold_label {
      font-weight: bold;
    }  
  }

</style>