<template>
<div class="container-fluid blur-gradient-bg">
  <app-header></app-header>
  <login-form></login-form>
</div>
</template>
<script>
import AppHeader from './Header';
import LoginForm from './LoginForm';

export default {
  components: {
     AppHeader,
     LoginForm
  }
}

</script>
<style lang="scss" scoped>
.blur-gradient-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #2e4d5d, #1d323e 53%, #122029);
  background-size: cover;
  min-width: 1024px;
  min-height: 768px;
  background-position: center;
  background-repeat: no-repeat;
}
</style>