<template>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3"></div>
  <div class="col-sm-6 col-md-6 col-lg-6">
      <form>
        <div class="login-form_wrapper">
          <div class="form-group">
            <input type="email" class="login-form_input email-regular-icon-24" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="login-form_input password-regular-icon-24" id="exampleInputPassword1" placeholder="Password">
          </div>
        </div>
          <button class="login-form_submit" v-on:click.capture.stop.prevent="doLogin">
            <span class="login-form_submit_text">
              SIGN IN
            </span>
          </button>
      </form>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>
</template>
<script>
  export default {
    name: 'LoginForm',
    mounted() {
      console.log('mounted');
    },
    methods: {
      doLogin() {
        console.log('Submitting form...');
      }
    }
  }
</script>
<style lang="scss" scoped>
.login-form_wrapper {
  display: block;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: 126px;
	width: 572px;
	height: 304px;
	border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
	border: solid 1px rgba(151, 151, 151, 0.052);
}
.login-form_input {
  margin: 48px 40px auto;
  width: 492px;
	height: 80px;
	border-radius: 4px;
  background-color: rgba(244, 245, 246, 1);
  border: solid 1px rgba(151, 151, 151, 0.52);
  text-indent: 62px;
  font-family: Geomanist, Play, sans-serif;
  font-size: 22px;
  letter-spacing: 0.2px;
  text-align: left;
}
.login-form_input::placeholder {
    font-family: Geomanist, Play, sans-serif;
    font-size: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgb(147, 163, 168);
  }
  .email-regular-icon-24 {
    background-image:  image-set(url("/images/email-regular-icon-24.png") 1x,
               url("/images/email-regular-icon-24@2x.png") 2x,
               url("/images/email-regular-icon-24@3x.png") 3x);
    background-repeat: no-repeat; 
    background-position: 24px 28px;
    object-fit: contain;
  }
  .password-regular-icon-24 {
    background-image:  image-set(url("/images/password-regular-icon-24.png") 1x,
          url("/images/password-regular-icon-24@2x.png") 2x,
          url("/images/password-regular-icon-24@3x.png") 3x);
    background-repeat: no-repeat; 
    background-position: 24px 28px;
    object-fit: contain;
  }
  .login-form_submit {
    margin-top: 478px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 175px;
    height: 76px;
    border-radius: 4px;
    background-color: rgb(72, 166, 169);
    box-shadow: 0 0 68px 0 rgba(152, 245, 248, 0.22);
    border: 0;
  }
  .login-form_submit_text {
    width: 79px;
    height: 28px;
    font-family: Geomanist, Play, sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
</style>